<%- include('partials/header',{title:'Create Deck',stylesheet:'/css/home.css'});-%>
<div class="container">
 <div class="row justify-content-center">
  <div class="col-md-6">

   <br>
   <br>
   <br>
   <h1 class="my-2 text-center">Create a Deck</h1>
   <form id="deck-form" method="post" action="/deck/new">
    
     
    <input type="text" value="<%=user.email%>" name="email">
    <div class="mb-3">
     <label for="name" class="d-block form-label">Name</label>
     <input type="text" class="form-control" id="create-name" name="name">
    </div>
    <div class="mb-3 name error">
    </div>
    <div class="mb-3">
     <label for="description" class="form-label">Description</label>
     <textarea class="form-control" id="create-back" name="description" cols="50" rows="10"></textarea>
    </div>
    <div class="mb-3">
     <label for="category" class="form-label">Category</label>
       <select name="category" class=" form-control category" id="category">
        <% user.categories.forEach(category=> { %>
         <option value="<%= category %>">
          <%= category %>
         </option>
         <% }); %>
       </select>
    </div>
    <button  type="submit" class="btn btn-dark" id="add-category" form="deck-form">Add Deck</button>
   </form>
   
  </div>
 </div>
</div>
 <%- include('partials/footer') %>